/* -- / media -- */
@media screen and (min-width:20em){
    
}
@media screen and (min-width:40em){
    
}
@media screen and (min-width:63.973em){
    
}
/* --  media /-- */


/* ==========================================================================
/* ===== Edges  ===== */ 
/*========================================================================== */
.angle-edge-top-right-bottom-right {
  position: relative;
  position: relative;
  padding: 60px 0 80px 0; }
  .angle-edge-top-right-bottom-right::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,35'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }
  .angle-edge-top-right-bottom-right::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }

.angle-edge-top-left-bottom-left {
  position: relative;
  position: relative;
  padding: 60px 0 80px 0; }
  .angle-edge-top-left-bottom-left::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }
  .angle-edge-top-left-bottom-left::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 0,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }

.angle-edge-top-right-bottom-left {
  position: relative;
  position: relative;
  padding: 60px 0 80px 0; }
  .angle-edge-top-right-bottom-left::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,35'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }
  .angle-edge-top-right-bottom-left::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 0,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }

.angle-edge-top-left-bottom-right {
  position: relative;
  position: relative;
  padding: 60px 0 80px 0; }
  .angle-edge-top-left-bottom-right::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }
  .angle-edge-top-left-bottom-right::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }


.angle-edge{
  position: relative;
  position: relative;
  padding: 60px 0 80px 0; }

 .angle-edge-top-left-bColor-0::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }

.angle-edge-top-left-bColor-1::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(145,8,17)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }
.angle-edge-top-right-bColor-1::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(145,8,17)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,35'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }
.angle-edge-top-right-bColor-0::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,35'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: 0px; }

  .angle-edge-bottom-left-bColor-0::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 0,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }
.angle-edge-bottom-right-bColor-1::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(145,8,17)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }
.angle-edge-bottom-right-bColor-0::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,35 100,35 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: 0px; }

/* ==========================================================================
/* ===== Typography  ===== */
/*========================================================================== */


.test{
    display: block;
  text-indent: -9999px;
  width: 70px;
  height:52px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 35' fill='rgb(255,255,255)' fill-opacity='1' xmlns=xlink xlink: ../Future-Preparation-Lab/Icons/svg/020-shape.svg" );
  background-size: contain;
}
.test{
    fill:#fff;
}

.baner{
    background-image: url(../img/shaking-hands-2499612_1920.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 750px;
}
.vision{
    background-image: url(../img/backgruond_1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 750px;
}
.scope{
    background-image: url(../img/notes-1870746_640.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height:400px;
}