/* --/ text color = tColor-   -- */

.tColor-0 {
    color: #fff !important;
}

.tColor-1 {
    color: #910811;
}

.tColor-2 {
    color: #c01823;
}

.tColor-3 {
    color: #9e9e9e;
}

.tColor-4 {
    color: #414141;
}


/* -- text color = tColor-   /-- */


/* --/ background color = bColor-   -- */

.bColor-0 {
    background-color: #fff;
}

.bColor-1 {
    background-color: #910811;
}

.bColor-2 {
    background-color: #c01823;
}

.bColor-3 {
    background-color: #9e9e9e;
}

.bColor-4 {
    background-color: #414141;
}
.bColor-5 {
    background-color: #f7f7f7;
}


/* -- background color = bColor-   /-- */


/* --/ border color = bColor-   -- */

.boColor-0 {
    border-color: #fff;
}

.boColor-1 {
    border-color: #910811;
}

.boColor-2 {
    border-color: #c01823;
}

.boColor-3 {
    border-color: #9e9e9e;
}

.boColor-4 {
    border-color: #414141;
}

.border-radius-100-{
border-radius: 100%;
}

/* -- border  color = bColor-   /-- */
/**/
.height-125{height: 125px}
.width-125{width: 125px}
/**/

/* --/ font = font-'type' -- */
@font-face {
	font-family: Bukra-light;
	src: url("../font/29ltbukralight.ttf") ;
}@font-face {
	font-family: Bukra;
	src: url("../font/29ltbukraregular.ttf") ;
}@font-face {
	font-family: Bukra-bold;
	src: url("../font/29ltbukrabold.ttf") ;
}
.font-family-light{
    font-family: Bukra-light;
}.font-family-bold{
    font-family: Bukra-bold;
}
* {
	font-family: Bukra;
}
h2{
	font-family: Bukra;
}h5{
	font-family: Bukra;
}h3{
	font-family: Bukra;
}
h1{
	font-family: Bukra;
}h4{
	font-family: Bukra;
}h6{
	font-family: Bukra;
}
/* -- font = font-'type' /-- */